<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %} Schedule {% endblock %}
{% block titlev2 %} Schedule {% endblock %}
{% block row_content %}
<!-- prettier-ignore -->
<div class="row">
    <div class="col-lg-12 col-xl-12">
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="text-primary font-weight-bold m-0">What the f*** is this? Part 2</h6>
            </div>
            <div class="card-body">
                <p>Finally, you are here! &#x1F913;<br>
                Now, you want to add schedule to your robot right? wait, my robot actualy. There's to options to add new schedule<br>
                1. Create new one by your self, or<br>
                2. Use available schedule that create by another colleger</p>
                <div class="form-group">
                    <label for="addType">Add Type</label>
                    <select class="form-control" id="addType" name="addType" placeholder="Select add type">
                      <option value="1">Create by my self</option>
                      <option value="2">Use available schedule</option>
                    </select>
                </div>
                <form method="post" id="myself" style="display: block;">
                    <div class="form-group">
                        <label for="courseName">Course Name</label>
                        <input type="text" name="course" class="form-control" id="courseName" placeholder="Type course name correctly (example: Filsafat Kehewanan)" required>
                    </div>
                    <div class="form-group">
                        <label for="courseAttendanceURL">Course Attendance URL</label>
                        <input type="text" name="url" class="form-control" id="courseAttendanceURL" placeholder="Type course attendance URL correctly (example: https://elearning.itenas.ac.id/mod/attendance/view.php?id=696969)" required>
                        <small>How to get Attendance URL: right click on <b>Daftar Hadir KuliahAttendance</b> and <b>Copy Link Address</b> From your course</small>
                    </div>
                    <div class="form-group">
                        <label for="day">Day</label>
                        <select class="form-control" id="day" name="day" required>
                          <option value="senin">Monday</option>
                          <option value="selasa">Tuesday</option>
                          <option value="rabu">Wednesday</option>
                          <option value="kamis">Thursday</option>
                          <option value="jumat">Friday</option>
                          <option value="sabtu">Saturday</option>
                          <option value="minggu">Sunday</option>
                        </select>
                        <small style="display: none;" id='showthisdude'><b>Really?</b> you study on monday? play game dude, watching movie, anime, korean drama, rest your brain, you'r not a robot</small>
                    </div>
                    <div class="form-group">
                      <label for="courseAttendanceURL">Time</label>
                      <input type="time" class="form-control" id="courseAttendanceURL" name="time" min="00:00" max="24:00" step="3600" required>
                      <small>Example : 08:00 AM, always use 00 for minute ( 12:00 AM = 00:00 ) so? 12:O0 PM = 12:00 in 24 hours format</small>
                    </div>
                    <div class="form-group"><button name="submit" value="myself" class="btn btn-primary btn-md" type="submit">Add</button></div>
                </form>
                <form method="post" id="available" style="display: none;">
                  <div class="form-group">
                      {% if courselist|length == 0 %}
                      <center><h6 class="text-primary font-weight-bold m-0">There is no available course/schedule for your campus, looks like you have to create it!</h6><br>
                        <div style="width:100%;height:0;padding-bottom:66%;position:relative;"><iframe src="https://giphy.com/embed/26DNkS7hlwrMPrOpi" width="100%" height="100%" style="position:absolute;max-width: 480px;max-height: 316px;left: 50%;transform: translateX(-50%);" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
                      </center>
                      {% else %}
                      <label for="course">Select Course (Id - Course Name - Day - Time)</label>
                      <select class="form-control" id="course" name="course" required>
                        {% for row in courselist %}
                        <option value="{{row.0}}">{{row.0}} - {{row.1}} - {{row.3}} - {{row.4}}</option>
                        {% endfor %}
                      </select>
                      <small>Want to know what course that match with your schedule? ask your friend from <b>course ID</b> from <b>Schedule</b> menu</small>
                      {% endif %}
                  </div>
                  <div class="form-group"><button name="submit" value="available" class="btn btn-primary btn-md" type="submit">Add</button></div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block custom_css %} {% endblock %} {% block custom_js %}
<script>
  $("#addType").on("change", function () {
    console.log(this.value);
    if (this.value == "2") {
      $("#available").show();
      $("#myself").hide();
    } else {
      $("#myself").show();
      $("#available").hide();
    }
  });
  $("#day").on("change", function () {
    console.log(this.value);
    if (this.value == "minggu") {
      $("#showthisdude").show();
    } else {
      $("#showthisdude").hide();
    }
  });
</script>
{% endblock %}
